/* TaskListContainer.css */
.task-list-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    min-height: 500px;
}

.task-lists-column {
    flex: 3;
    /* Takes up more space for task lists */
    display: flex;
    flex-direction: row;
    /* Align items in a row */
    gap: 20px;
    max-width: 100%;
    overflow-x: auto;

}


.add-task-column {
    flex: 1;
    /* Takes up less space for the Add Task form */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    /* Adds some space from the top */
}

.task-list {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    /* Set the width for each list */
    min-width: 250px;
    min-height: 300px;
    /* Set a minimum width for the task list */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


h3 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.task-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #349ce4;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1c4c74;
}

.add-task {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* Stacks input and button vertically */
    gap: 10px;
    width: 100%;
    /* Ensures full width */
}

.add-task input {
    padding: 10px;
    width: 100%;
    /* Takes the full width of the container */
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-task button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-task button:hover {
    background-color: #218838;
}

/* TaskListContainer.css */
.search-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
    /* Adjust margin for positioning */
    display: flex;
    justify-content: flex-start;
    /* Align content to the left */
}

.search-input {
    width: 100%;
    padding: 10px 30px 10px 15px;
    /* Space for the icon */
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Position icon on the right */
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
}

.search-input:focus {
    border-color: #007bff;
    outline: none;
}

.search-input::placeholder {
    color: #888;
}

.search-icon:hover {
    color: #007bff;
}